body{
    margin: auto;
    font-family: poppins;
}
header{
    background-color: rgb(0, 255, 255);
    height: 100px;
    width:100%;
    /* border:1px solid black; */
}
#name{
    text-align: right;
    font-family: poppins;
    margin: 10px 20px;
    font-size: 50px;
}
ul {
    list-style-type: none;
    margin: 30px;
    padding: 0;
  }
ul>li>a{
    float: right;
    margin:5px;
    padding: 5px;
    color:#fff;
    background-color:rgb(0, 0, 0);
    border-radius:5px;
    text-decoration:none;
}
a:hover{
    background-color: rgb(138, 161, 138);
}
.header-left{
    float: left;
}
.header-left img{
    height: 100px;
    width:100px;
}
.header-middle{
    float: left;
    overflow: hidden;
}
.header-right{
    overflow: hidden;
}
h1,h2,h3 {
    text-align:center;
}
h4{
    color: #fff;
    font-size: 20px;
}
.main,.main-1{
    background-color: bisque;
    height: 1200px;
    width: 100%;
    border:1px solid rgb(255, 255, 255);
}
.helmet{
    height: 300px;
    width: 100%;
}
.windbreaker{
    height: 300px;
    width: 100%;
}
.gloves{
    height: 300px;
    width: 100%;
}
.main-1{
    background-color: darkslategray;
}
.container {
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.box{
    background-color: rgba(21, 149, 235, 0.486);
    height: 250px;
    width: 24%;
    margin:0px 5px;
    margin-top: 10px;
    border:1px solid black;
    border-radius:5px;
    float:left;
    overflow: hidden;
    box-shadow: 5px 5px rgb(230, 230, 230);
}
img {
    height: 200px;
    width:100%;
}
p{
    /* text-align:left; */
    float: left;
    margin-left: 10px;
}
.box a{
    float:right;
    margin:5px;
    padding: 5px;
    color:#fff;
    background-color:rgb(0, 0, 0);
    border-radius:5px;
    text-decoration:none;
}
.about-us{
    height: 300px;
    width: 100%;
    background-color: indianred;
    text-align: justify;
    padding-top: 20px;
}
.about-us p{
    font-size: 20px;
    margin: 0 15px;
}
footer{
    background-color: aquamarine;
    height: 350px;
    width:100%;
    border:1px solid black;
}
.footer-1{
    text-align: center;
    height: 120px;
    width: 100%;
}
.footer-1 img{
    height: 50px;
    width: 50px;

}
.footer-1 a{
    text-decoration:none;
}
.footer-2{
    height: 191px;
    width: 100%;
    padding-top: 20px;
    background-color: rgb(0, 0, 0);
    color: #fff;
}
#address{
    padding-left: 10px;
    width: 45%;
    float: left;
    color: #fff;
}
#contact-us{
    width: 45%;
    overflow: hidden;
}